Tutorial/VidyaBhavanOnline/public_html/SpringWs/Teacher/TeacherWsdl.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions targetNamespace="http://localhost:7000/VidyaBhavan/TeacherWSDL"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://localhost:7000/VidyaBhavan/TeacherWSDL"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:teacher="http://localhost:7000/VidyaBhavan/Teacher">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://localhost:7000/VidyaBhavan/Teacher"
                        schemaLocation="../../WEB-INF/xsd/Teacher.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="studInfoRequest">
        <wsdl:part element="teacher:studInfoRequest" name="studInfoRequest"/>
    </wsdl:message>
    <wsdl:message name="studInfoResponse">
        <wsdl:part element="teacher:studInfoResponse" name="studInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="insertNoticeRequest">
        <wsdl:part element="teacher:insertNoticeRequest" name="insertNoticeRequest"/>
    </wsdl:message>
    <wsdl:message name="insertNoticeResponse">
        <wsdl:part element="teacher:insertNoticeResponse" name="insertNoticeResponse"/>
    </wsdl:message>
    <wsdl:message name="insertExamRequest">
        <wsdl:part element="teacher:insertExamRequest" name="insertExamRequest"/>
    </wsdl:message>
    <wsdl:message name="insertExamResponse">
        <wsdl:part element="teacher:insertExamResponse" name="insertExamResponse"/>
    </wsdl:message>
    <wsdl:message name="insertLectureRequest">
        <wsdl:part element="teacher:insertLectureRequest" name="insertLectureRequest"/>
    </wsdl:message>
    <wsdl:message name="insertLectureResponse">
        <wsdl:part element="teacher:insertLectureResponse" name="insertLectureResponse"/>
    </wsdl:message>
    <wsdl:portType name="StudentInformation">
        <wsdl:operation name="getStudentInfo">
            <wsdl:input message="tns:studInfoRequest" name="studInfoRequest"/>
            <wsdl:output message="tns:studInfoResponse" name="studInfoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="InsertNotice">
        <wsdl:operation name="insertNotice">
            <wsdl:input message="tns:insertNoticeRequest" name="insertNoticeRequest"/>
            <wsdl:output message="tns:insertNoticeResponse" name="insertNoticeResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="InsertExam">
        <wsdl:operation name="insertExam">
            <wsdl:input message="tns:insertExamRequest" name="insertExamRequest"/>
            <wsdl:output message="tns:insertExamResponse" name="insertExamResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="InsertLecture">
        <wsdl:operation name="insertLecture">
            <wsdl:input message="tns:insertLectureRequest" name="insertLectureRequest"/>
            <wsdl:output message="tns:insertLectureResponse" name="insertLectureResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="StudInfoBinding" type="tns:StudentInformation">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getStudentInfo">
            <soap:operation soapAction=""/>
            <wsdl:input name="studInfoRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="studInfoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="InsertNoticeBinding" type="tns:InsertNotice">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="insertNotice">
            <soap:operation soapAction=""/>
            <wsdl:input name="insertNoticeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="insertNoticeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="InsertExamBinding" type="tns:InsertExam">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="insertExam">
            <soap:operation soapAction=""/>
            <wsdl:input name="insertExamRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="insertExamResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="InsertLectureBinding" type="tns:InsertLecture">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="insertLecture">
            <soap:operation soapAction=""/>
            <wsdl:input name="insertLectureRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="insertLectureResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="StudInfoService">
        <wsdl:port binding="tns:StudInfoBinding" name="StudInfoBinding">
            <soap:address location="http://localhost:7000/VidyaBhavan/SpringWs/StudInfoWSDL"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:service name="InsertNoticeService">
        <wsdl:port binding="tns:InsertNoticeBinding" name="InsertNoticeBinding">
            <soap:address location="http://localhost:7000/VidyaBhavan/SpringWs/InsertNoticeWSDL"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:service name="InsertExamService">
        <wsdl:port binding="tns:InsertExamBinding" name="InsertExamBinding">
            <soap:address location="http://localhost:7000/VidyaBhavan/SpringWs/InsertExamWSDL"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:service name="InsertLectureService">
        <wsdl:port binding="tns:InsertLectureBinding" name="InsertLectureBinding">
            <soap:address location="http://localhost:7000/VidyaBhavan/SpringWs/InsertLectureWSDL"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>